.max-width-500 {
    max-width: 700px; 
    width: 100%; 
    height: auto; 
}

body {
    font-family: 'Architects Daughter', cursive;
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
}

#carouselExampleCaptions{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.custom-image{
    max-height: 800px; /* Limita la altura máxima de la imagen a 300 píxeles */
  width: auto;
}



.table:container {
    max-width: 700px;
    width: 1024px;
    border: 40px;
    border-collapse: collapse;
    margin: 0 auto;
    
}



th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#footer{
    text-decoration: none;
}

